{% extends "_template.html.twig" %}

{% block title %}
    Album: {{ record.title }}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-two-fifth">
                <figure class="image is-1by1">
                    <img src="https://loremflickr.com/1024/1024/album,music/all?lock={{ record.id }}">
                </figure>
            </div>

            <div class="column">
                <h1 class="title has-text-primary">
                    {{ record.title }}
                </h1>
                <h2 class="subtitle">
                    Artiste:
                    <a href="{{ path('artist_page', {id: record.artist.id}) }}">
                        {{ record.artist.name }}
                    </a>
                </h2>
                <hr>
                <h3 class="subtitle">
                    Notes: {{ record.notes|length }}
                </h3>
                <hr>
                {# <h6 class="is-size-7">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    <span>Noté le {{ record.createdAt|date('d/m/Y') }}</span>
                </h6> #}

                <p class="content">
                    {{ record.description }}
                </p>
                <hr>
                <h6 class="is-size-7">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    <span>Sorti le {{ record.releaseAt|date('d/m/Y') }}</span>
                </h6>
            </div>
            <hr>
         
            <div class="section">
                  
            {% include 'includes/flash.html.twig' %}   
                {{ form_start(note_form) }}
                    {{ form_row(note_form.value, {
                        label: 'Votre note'
                    }) }}

                    {{ form_row(note_form.comment, {
                        label: 'Commentaire (facultatif)'
                    }) }}

                    <button class="button is-success" type="submit">
                        Noter
                    </button>
                {{ form_end(note_form) }}
            </div>
        </div>
    </section>
{% endblock %}
